// Utilitie Classes
.simplebar {
	// --scrollbarBG: #E5E5E5;
	// --scrollbarTHUMB: #7E7F92;

	overflow-y: auto;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		box-shadow: none;
		background-color: $border-clr;
		border-radius: 	4px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $text-clr2;
		border-radius: 	4px;
		transition: background-color .5s ease;
	}
}

.redious-border {
	border: 1px solid $border-clr;
	border-radius: 20px;
}

.redious-border-5 {
	border-radius: 5px;
}
.rounded-20 {
	border-radius: 20px;
}
.section-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $border-clr;
	padding: 0 0 12px;
	margin-bottom: 20px;
	h6 {
		color: $text-clr1;
	}

	a {
		color: $text-clr1;
		font-weight: 500;
	}
}
.section-title {
	font-weight: $fw-500;
	font-size: 24px;
	line-height: 35px;
	color: $text-clr1;
	margin-bottom: 12px;
}
.sub-title {
	color: $text-clr1;
	border-bottom: 1px solid $border-clr;
	padding-bottom: 12px;
	margin-bottom: 20px;
}

.h-80 {
	min-height: 80px !important;
}