:root {
  --bs-primary: #4E9F3D;
  --bs-secondary: #434343;
  --bs-success: #41cc68;
  --bs-warning: #ffbb33;
  --bs-danger: #ff2424;
  --bs-info: #02a2b9;
  --bs-light: #191A19;
  --bs-dark: #111120;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #4E9F3D;
  --bs-secondary: #434343;
  --bs-success: #41cc68;
  --bs-info: #02a2b9;
  --bs-warning: #ffbb33;
  --bs-danger: #ff2424;
  --bs-light: #ffffff;
  --bs-dark: #111120;
  --bs-gray-ligth: #d7dde9;
  --bs-primary-rgb: 63, 82, 227;
  --bs-secondary-rgb: 67, 67, 67;
  --bs-success-rgb: 65, 204, 104;
  --bs-info-rgb: 2, 162, 185;
  --bs-warning-rgb: 255, 187, 51;
  --bs-danger-rgb: 255, 36, 36;
  --bs-light-rgb: 255, 255, 255;
  --bs-dark-rgb: 17, 17, 32;
  --bs-gray-ligth-rgb: 215, 221, 233;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #ffffff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #d7dde9;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #4E9F3D;
  --bs-link-hover-color: #1E5128;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}
