.card {
  // padding-bottom: 20px;
  background-color: $white;
  border: 1px solid $border-clr;

  &-header {
    padding: 20px 30px;
    border-bottom: 1px solid $border-clr;
    background-color: transparent;

    h4 {
      font-size: 16px;
      font-weight: $fw-500;
      line-height: 24px;
    }
  }

  &-body {
    // border-bottom: 1px solid $border-clr;
    padding: 30px;
  }
}