/*********************************
/*  Footer Section Start
*********************************/
.footer__section {
    padding-top: 275px;
    background: $secondary;
    margin-top: -175px;
    position: relative;

    @include respond (phone) {
		margin-top: 0;
        padding-top: 40px;
	}

    .col {
        @include respond (tabland) {
            display: none;
        }
    }
    .col-lg-4 {
        @include respond (tabport) {
            order: 3;
        }
    }
}

.footer__wrapper {
    padding-bottom: 47px;
    .footer__widget {
        .widget {
            &__title {
                font-family: $default;
                font-size: 20px;
                line-height: normal;
                letter-spacing: 0.23px;
                color: $white;
                margin-bottom: 31px;
            }
            &__wrap {
                // background: rgba(#2F3438, 0.6);
                // background: $secondary;
                background: #0e2c56;
                border: 1px solid $border2;
                border-radius: 16px;
                padding: 32px 36px;

                @include respond (tabport) {
                    padding: 30px 17px;
                }
            }
            &__list {
                li {
                    margin-bottom: 20px;
                    list-style: none;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.16px;
                    color: rgba($white, 0.9);
                    a {
                        color: currentColor;
                        transition: $transition;

                        &:hover {
                            color: $primary-500;
                        }
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .social__icon {
        display: inline-flex;
        align-items: center;
        gap: 16px;
        margin-top: 17px;
        a {
            height: 33px;
            width: 33px;
            // background: #32363a;
            background: #5d5d5d54;
            color: #adafb0;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 33px;
            transition: $transition;
    
            &:hover {
                background: #5c6063;
                color: $white;
            }
        }
    }
}


.footer__slogun {
    font-size: 32px;
    line-height: 42px;
    font-weight: $semibold;
    color: #EBF5F2;
    margin-bottom: 60px;

    @include respond (phone) {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 40px;
    }
}
.footer__link {
    position: relative;
    gap: 12px;
    margin-bottom: 16px;

    &:last-of-type {
        margin-bottom: 0px;
    }

    .icon {
        height: 40px;
        width: 40px;
        background: #0e2c56;
        border: 1px solid $border2;
        border-radius: 50%;
        @include flexbox($a: center,  $jc: center);

        img {
            width: 19px;
        }
    }

    a {
        font-family: $default;
        font-size: 16px;
        line-height: 26px;
        font-weight: $medium;
        color: $white;
        transition: $transition;
        text-underline-offset: 2px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer__bottom {
    border-top: 1px solid $border2;
    border-bottom: 1px solid $border2;
    padding: 15px 0;

    .footer {
        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            @include respond (tabport) {
                flex-direction: column;
            }
        }

        &__logo {
            max-width: 160px;
        }
        &__apps {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: auto;
                height: auto;
                display: block;
                max-width: 172px;

                @include respond (tabport) {
                    max-width: 130px;
                }
            }
        }

    }
}
.footer__copyright {
    padding: 20px 0;
    .copyright p {
        font-family: $default;
        font-size: 14px;
        line-height: 20px;
        font-weight: $regular;
        letter-spacing: 0.15px;
        color: #E9ECEF;
        margin-bottom: 0;
    }
}
/*********************************
/*  Footer Section End
*********************************/