/*********************************
/* Privacy Section Start
*********************************/
.privacy__content {
    background: rgba(255, 32, 78, 0.05);
    padding: 100px 200px;
    border-radius: 12px;
    margin: 80px 0;

    @include respond (tabland) {
        padding: 80px 100px;
    }
    @include respond (tabport) {
        padding: 50px;
    }
    @include respond (phone) {
        padding: 40px 15px;
        margin: 40px 0;
    }

    &-title {
        font-size: 38px;
        line-height: 50px;
        color: $heading;
        text-transform: capitalize;
        margin-bottom: 40px;
        margin-top: 40px;

        @include respond (tabport) {
            font-size: 30px;
            line-height: 40px;
        }
        @include respond (phone) {
            font-size: 24px;
            line-height: 34px;
            margin: 20px 0;
        }
        @include respond (phone-mid) {
            font-size: 23px;
        }

        &:first-of-type {
            margin-top: 0;
        }
    }
    &-subtitle {
        font-size: 28px;
        line-height: 38px;
        font-weight: $semibold;
        color: $heading;
        text-transform: capitalize;
        margin-bottom: 15px;
        margin-top: 40px;

        @include respond (phone) {
            font-size: 24px;
            line-height: 34px;
            margin-top: 20px;
        }
    }
    &-list {
        margin: 24px 0;
        padding-left: 20px;
        li {
            // list-style: none;
            font-size: 18px;
            line-height: 28px;
            color: $content;
            margin-bottom: 12px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    p {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.16px;
        margin-bottom: 0px;
        margin-top: 25px;

        @include respond (tabport) {
            font-size: 16px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

/*********************************
/* Privacy Section End
*********************************/