// ====================================================
//        SG Admin Dashboard Color Variables
// ====================================================

// SG Admin Dashboard General color
$white: #ffffff;
$black: #000000;
$dark: #111120;

// SG Admin Dashboard - BG-Color
$bg-clr1: #F3F5FE; // General Theme Backround Color
$bg-clr2: #DFE5FF;
$bg-clr3: #FBFBFF;

// SG Admin Dashboard - Text-Color
// $text-clr1: #434343;
$text-clr1: #556068; // General Theme Heading Color
$text-clr2: #7E7F92; // General Theme Text Color
$text-clr3: #BFBFBF;

// $border-clr: #E5E5E5;
$border-clr: #D7DDE9;

//- SG Admin Dashboard Typography(Fonts)
$ff-jost: 'Jost', sans-serif;
$font-size: 16px;
$fw-400: 400;
$fw-500: 500;
$line-height: 26px;

// SG Admin Dashboard - Decoration-Color
$brand-gradient-clr: (#3F52E3, 50%);
$decoration-clr-1: #24D6A5;
$decoration-clr-2: #FFA600;
$decoration-clr-3: #FF5630;
$brand-clr-shade: #D9DCF9;
$decoration-clr-shade-1: #D3F7ED;
$decoration-clr-shade-2: #FFEDCC;
$decoration-clr-shade-3: #FFDDD6;

// General Theme Variables Setup
$theme-bg-clr: $bg-clr1;
$theme-text-clr: $text-clr2;
$theme-heading-clr: $text-clr1;
$theme-fontFamily: $ff-jost;
$theme-fontSize: $font-size;
$theme-lineHeight: $line-height;

// SG Admin Dashboard Color Set (Primary, Seceondary, Success, Warning, Danger, Light Colors)
$themePrimary-clr: #3F52E3;
$themeSeceondary-clr: #434343;
$themeSuccess-clr: #41CC68;
$themeWarning-clr: #FFBB33;
$themeDanger-clr: #FF2424;
$themeLight-clr: $white;


// Customize Bootstrap color palette variables
$primary:         $themePrimary-clr;
$secondary:       $themeSeceondary-clr;
$success:         $themeSuccess-clr;
$warning:         $themeWarning-clr;
$danger:          $themeDanger-clr;
$light:           $themeLight-clr;

$input-border-color : $border-clr;

// BTN Default
$btn-padding-x: 20px;
$btn-padding-y: 10px;
$btn-font-size: 14px;

// BTN LG
$btn-padding-y-lg: 13px;
$btn-padding-x-lg: 30px;
$btn-font-size-lg: 16px;

// BTN SM
$btn-padding-y-sm: 5px;
$btn-padding-x-sm: 15px;
$btn-font-size-sm: 14px;