.analytics {
  display: flex;
  align-items: center;
  gap: 20px;

  &-icon {
    height: 64px;
    width: 64px;
    border-radius: 8px;
    display: flex;
    font-size: 32px;
    background-color: $bg-clr2;
    color: $primary;
    align-items: center;
    justify-content: center;
  }

  &-content {
    h4 {
      color: $primary;
      font-size: 24px;
      line-height: 35px;
      font-weight: 500;
    }

    h3 {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    .designation {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      color: $text-clr2;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      color: $text-clr1;
    }
  }

  &.clr-1 {
    .analytics-icon {
      background-color: $brand-clr-shade;
    }
    .analytics-icon,
    .analytics-content h4 {
      color: $primary;
    }
  }

  &.clr-2 {
    .analytics-icon {
      background-color: $decoration-clr-shade-1;
    }
    .analytics-icon,
    .analytics-content h4 {
      color: $decoration-clr-1;
    }
  }

  &.clr-3 {
    .analytics-icon {
      background-color: $decoration-clr-shade-2;
    }
    .analytics-icon,
    .analytics-content h4 {
      color: $decoration-clr-2;
    }
  }

  &.clr-4 {
    .analytics-icon {
      background-color: $decoration-clr-shade-3;
    }
    .analytics-icon,
    .analytics-content h4 {
      color: $decoration-clr-3;
    }
  }
}

// Analytics V2
.analytics {
  &.analytics-v2 {
    flex-direction: column;
    gap: 25px;

    .analytics-icon {
      height: 100px;
      width: 100px;
    }

    .analytics-content {
      text-align: center;

      h4 {
        margin-top: 8px;
      }
    }
  }
}

// Analytics V3
.analytics {
  &.analytics-v3 {
    .analytics-icon {
      height: 140px;
      width: 140px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .analytics-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      height: 140px;
    }
  }
}
