/* Book Style Start========= */
.ins-book .row .col-lg-3 {
	margin-bottom: 24px;

	&:nth-last-child(-n + 4) {
		margin-bottom: 0;
	}
}

.instructor-book-item {
	border: 1px solid $border-clr;
	border-radius: 10px;
	padding: 20px;
	background-color: $white;
}

.instructor-book-thumb img {
	width: 110px;
	height: 150px;
	object-fit: contain;
	border-radius: 5px;
	margin: 0 auto 12px;
}

.instructor-book-content {
	h3 {
		font-size: 16px;
		line-height: 24px !important;
		font-weight: 500;
		color: $text-clr1;
	}

	.rating-review ul li {
		font-size: 12px;
		color: #fdcc0d;
	}

	.book-price {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h5 {
			font-size: 16px;
			font-weight: 500;
			color: $primary;
			line-height: 24px;
		}
		.icon {
			font-size: 20px;
			color: $text-clr1;
		}
	}
}
