// Admin Dashboard BTN CSS
.button-default {
	border: 1px solid $border-clr;
	border-radius: 5px;
	padding: 6px 15px;
	background-color: $white;
	transition: all 0.4s;

	&:hover {
		color: $themePrimary-clr;
		border-color: $themePrimary-clr;

		.icon {
			filter: invert(28%) sepia(51%) saturate(5759%) hue-rotate(231deg) brightness(94%) contrast(89%);
		}
	}

	.las {
		font-size: 18px;
	}

	&.icon {
		padding: 11px 10px !important;
	}
}
