// All button css for Admin dashboard
@import "btn";

// Default Dropdown css for Admin dashboard
@import "default-dropdown";

// Customer Oftions
@import "oftions";

// Customer List Table
@import "default-table";

// Pagination
@import "pagination";

// Setting Tools Style
@import "setting-tools";

// Editor Style
@import "editor";

// File Uploader Style
@import "file-uploader";

// Product Update Style
@import "default-tab-list";

// Sidenav Style
@import "sidenav";

// List View Style
@import "list-view";

// Homepage-builder Style
@import "homepage-builder";

// Media Library Style
@import "media-library";

// Login Style
@import "login";

// Analytics Style
@import "analytics";

// Instructor Style
@import "instructor";

// Instructor Style
@import "course";

// Book Style
@import "book";

// Book Style
@import "student-profile";
