/*======= Course Items =======*/
#instructorCourses .row .col-lg-4:not(:nth-last-child(-n+4)) {
	margin-bottom: 30px;
}
.course-item {
	border-radius: 10px;
	background-color: $white;
	transition: 0.3s;
	backdrop-filter: blur(300px);
	border: 1px solid $border-clr;

	p {
		border-bottom: 1px solid $border-clr;
		padding-bottom: 10px;
		margin-bottom: 14px;
	}

	.course-item-thumb {
		display: block;
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			transition: 0.3s;
			border-radius: 10px 10px 0 0;
		}

		.wishlist-icon {
			position: absolute;
			inset-inline-end: 20px;
			top: 14px;
			color: $primary;
			font-size: 16px;
		}
	}
	.course-badge {
		position: absolute;
		inset-block-start: 0;
		inset-inline-end: auto;
		inset-inline-start: 0;
		border-start-start-radius: 10px;
		border-end-start-radius: 0;
		border-end-end-radius: 0;
		border-start-end-radius: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
		padding: 6px 10px;
		background-color: rgba(63, 82, 227, 0.4);
		color: $white;
	}
	.course-item-body {
		padding: 38px 20px 20px;
		background-color: $white;
	}
	&:hover {
		transform: translate(0, -10px);
		.course-item-thumb {
			img {
				transform: scale(1);
			}
		}
	}
	.course-item-info,
	.course-item-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 5px;
	}
	.course-item-info {
		margin-bottom: 0;
		li {
			font-size: 14px;
			line-height: 21px;
			i {
				margin-inline-end: 4px;
				font-size: 20px;
			}
		}
		&:first-of-type {
			margin-top: -48px;
			align-items: flex-end;
			position: relative;
			img {
				height: 50px;
				width: 50px;
				border: 3px solid $white;
				border-radius: 50%;
				display: block;
				margin-bottom: 5px;
			}
		}
		.total-review {
			margin-left: 0;
			background: $text-clr1;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;
			border-radius: 2px;
			color: $white;
			padding: 8px 10px;
		}
	}
	.course-item-footer {
		background-color: #F8F8F8;
		padding: 13px 20px;
		border-radius: 0 0 10px 10px;
		border-top: 1px solid $border-clr;
		.course-price {
			color: $success;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			small {
				color: $text-clr2;
				font-weight: 400;
				font-size: 14px;
				line-height: 21px;
				text-decoration: line-through;
				margin-inline-start: 8px;
			}
		}
		.course-lesson {
			font-size: 14px;
			line-height: 21px;
			i {
				margin-right: 6px;
			}
		}
	}
	.title {
		padding-top: 10px;
		padding-bottom: 0;
		border: 0;
		margin-bottom: 15px;
		a {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			color: $text-clr1;
			&:hover {
				color: $primary;
			}
		}
	}
	.rating-review {
		i {
			color: $decoration-clr-2;
		}
	}

	&.course-progress {
		.course-item-body {
			padding-top: 22px;
			.title {
				margin: 0;
				padding: 0;
			}
		}
		.course-item-footer {
			column-gap: 10px;
		}
	}
}



