// Default Dropdown Menu Style
.popup-card {
	border: none;
	background: $white;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
	top: 53px !important;
	padding: 30px 0;
  left: auto !important;
  border-radius: 10px;
  right: -6px;
  width: max-content;
  min-width: 200px;
	.dropdown-item {
		font-weight: 400;
		line-height: 26px;
		padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: $secondary;
    transition: 0.5s;

		&:hover,
    &:focus {
			background-color: transparent;
			color: $primary;
		}
    i {
      font-size: 20px;
    }
	}
}