/* Default List View Style Start========= */
.list-view {
  background: $bg-clr1;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.list-view-content {
  padding: 11px 20px;

  h6 {
    line-height: 24px;
    font-size: 16px;
  }

  p {
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
  }
}

.list-view-icon {
  background: $bg-clr2;
  border-radius: 0 5px 5px 0;

  a {
    padding: 23px;
    font-size: 24px;
    display: block;
  }
}