/* Setting Tools Style======= */
.settings-tools {
  padding: 30px 0;

  &-nav {
    ul li {
      &.active {
        a {
          background-color: $bg-clr2;
        }

        // ul.sub-menu {
        //   opacity: 1;
        //   visibility: visible;
        //   height: auto;
        //   padding-left: 55px;
        // }
      }
      a {
        padding: 12px 20px;
        display: block;
        transition: 0.5s;
        color: $text-clr2;
        font-family: $fw-400;
        line-height: 26px;
        position: relative;

        i {
          font-size: 18px;
        }

        span {
          padding-left: 15px;
        }

        &:hover {
          background-color: $bg-clr2;
        }

        &.has-dropdown {
          .dropdown-icon {
            position: absolute;
            top: 15px;
            right: 20px;
            display: grid;
            place-items: center;
            height: 18px;
            width: 18px;
          }
          &.sub-menu-opened {
            .dropdown-icon {
              &::before {
                content: "\f106";
              }
            }
            + {
              ul.sub-menu {
                padding-left: 55px;
                opacity: 1;
                visibility: visible;
                height: auto;
                margin-bottom: 12px;
              }
            }
          }
        }
      }

      ul.sub-menu {
				height: 0;
				overflow: hidden;
				opacity: 0;
				visibility: hidden;
				transition: 0.5s;
        li {
            margin-top: 12px;
          a {
            padding: 0 20px;
            line-height: 26px;
						transition: 0.5s;
            background-color: transparent;

            &::after {
              position: absolute;
              top: 10px;
              left: 0;
              height: 5px;
              width: 5px;
              background: $text-clr2;
              content: "";
              border-radius: 50%;
              transition: 0.5s;
            }
            &:hover {
              background-color: transparent;
              color: $secondary;
              transition: 0.5s;

              &::after {
                background-color: $secondary;
              }
            }
          }
        }
			}
    }
  }
}
/* Setting Tools End======= */
