* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	background: $white;
	font-family: $default;
	font-weight: $regular;
	font-size: 1.6rem;
	line-height: 2.7rem;
	scroll-behavior: smooth;
}
a {
	// transition: all 300ms ease-in-out;
	text-decoration: none;
	&:hover,
	&:focus {
		text-decoration: none;
		outline: 0px;
	}
}
button {
	&:hover,
	&:focus {
		outline: 0px;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $regular;
}

img {
	display: block;
	width: 100%;
	height: auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style: inherit;
}
figure {
	margin: 0;
}
section {
	display: block;
	position: relative;
	// padding: 100px 0;
	width: 100%;
	z-index: 1;

	@include respond(tabland) {
		padding: 70px 0 !important;
	}
	@include respond(phone) {
		padding: 40px 0 !important;
	}
}
