// Dashboard Navbar top======
.navbar-top {
  min-height: 80px;
  border-bottom: 1px solid $border-clr;
}

.sidebar-toggler{
  border: 1px solid $border-clr;
  padding: 7px;
  border-radius: 5px;
  transition: border-color 0.4s;

  &:hover {
    border-color: $themePrimary-clr;

    .icon {
      filter: invert(28%) sepia(51%) saturate(5759%) hue-rotate(231deg) brightness(94%) contrast(89%);
    }
  }

}

.navbar-right-content ul li {
  a {
    position: relative;
    transition: 0.5s;
  }
  &.visit-website{
    border: 1px solid #eee;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    text-align: center;
    /* line-height: 40px; */
    display: grid;
    place-items: center;

    a{
      i {
        font-size: 24px;
        line-height: 33px;
      }
      &:hover span.icon-hover {
        opacity: 1;
        visibility: visible;
      }
    }

    .dropdown-toggle::after {
      display: none;
    }
  }
}

span.has_notification,
span.active_status {
  position: absolute;
  height: 8px;
  width: 8px;
  content: "";
  border-radius: 50%;
}

span.has_notification {
  top: -5px;
  inset-inline-end: -2px;
  background: $decoration-clr-3;
}

span.active_status {
  top: -5px;
  inset-inline-start: 20px;
  background: $decoration-clr-1;
  border: 3px solid $white;
  height: 13px;
  width: 13px;
}

span.icon-hover {
  position: absolute;
  inset-inline-start: -165px;
  top: -4px;
  width: max-content;
  filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.15));
  background: $white;
  padding: 7px 30px;
  border-radius: 10px;
  color: $text-clr1;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;

  &::after {
    position: absolute;
    top: 50%;
    inset-inline-end: -12px;
    content: "";
    border-top: 6px solid transparent;
    border-left: 6px solid $white;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
    transform: translateY(-50%);
  }
}

.dropdown-toggle::after {
  content: "\f107";
  border: none;
  font-family: 'Line Awesome Free';
  font-weight: 900;
  color: $text-clr2;
  font-size: 15px;
  position: absolute;
  top: 50%;
  inset-inline-end: -24px;
  transform: translateY(-50%);
}
.dropdown-toggle[aria-expanded="true"] {
  &::after {
    content: "\F106";
  }
}

// .popup-card {
// 	border: none;
// 	background: $white;
// 	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
// 	top: 53px !important;
// 	padding: 30px 0;
//   left: auto !important;
//   border-radius: 10px;
//   right: -6px;
//   width: max-content;
//   min-width: 200px;
// 	.dropdown-item {
// 		font-weight: 400;
// 		line-height: 26px;
// 		padding: 8px 20px;
//     display: flex;
//     align-items: center;
//     gap: 12px;
//     color: $secondary;
//     transition: 0.5s;

// 		&:hover,
//     &:focus {
// 			background-color: transparent;
// 			color: $primary;
// 		}
//     i {
//       font-size: 20px;
//     }
// 	}
// }

// Notification Card
.notification {
	.popup-card {
		padding: 0;
		li {
      &:not(:last-child) {
        border-bottom: 1px solid $border-clr;
      }
			&:first-child {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 14px 20px;
				color: $text-clr1;
				font-size: 16px;
				font-weight: 500;
				a {
          display: block;
					text-align: right;
					padding: 0;
					color: #EC3438;
					font-size: 12px;
					line-height: 17px;
				}
			}
      &:last-child a {
        display: block;
        text-align: center;
        color: $text-clr2;
        font-weight: 500;
      }
		}
	}
}


.notification {
  &-content {
    display: flex;
    gap: 12px;
    align-items: center;
    position: r elative;
  }

  &-img {
    height: 40px;
    width: 40px;
    object-fit: contain;
    aspect-ratio: 3/2;
  }
  &-text {
    h6 {
      color: $text-clr1;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
    p {
      color: $text-clr2;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      width: 302px;
      word-break: break-word;
      white-space: pre-wrap;
    }
  }
  &-time {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 12px;
    color: #434343;
    line-height: 17px;
    font-weight: 400;
    }
}

.unread {
  background-color: $border-clr;
}


.navbar-toggler {
  padding: 0;
  font-size: 24px;
  line-height: 1;
  color: #7E7F92;
  background-color: transparent;
  border: none;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);

  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
}